:root {
  font-family: Monda, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  margin: 0;
}

html {
  font-size: 10px;
}
div {
  cursor: default;
}
#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow: hidden;
}

.sun-light {
  --font-color: #606266;
  --font-color-active: #409eff;
  --font-color-hover: #909399;
  --font-color-0: #303133;
  --font-color-1: #606266;
  --font-color-2: #909399;
  --font-color-3: #a8abb2;
  --font-color-4: #c0c4cc;

  --border-color: #dcdfe6;
  --border-color-hover: #ebeef5;
  --border-color-active: #d4d7de;

  --border-color-0: #cdd0d6;
  --border-color-1: #d4d7de;
  --border-color-2: #e4e7ed;
  --border-color-3: #ebeef5;
  --border-color-4: #f2f6fc;

  --fill-color: #f0f2f5;
  --fill-color-0: #e7f8ff;
  --fill-color-1: #d9ecff;
  --fill-color-2: #c6e2ff;
  --fill-color-3: #a0cfff;
  --fill-color-4: #79bbff;
  --fill-color-5: #337ecc;
  --fill-color-6: #409eff;

  --bg-color: #ffffff;
  --bg-color-0: #e7f8ff;
  --bg-color-1: #79bbff;
  --bg-color-2: #409eff;
  --bg-color-hover: #a0cfff;
  --bg-color-active: #409eff;
  --btn-bg-color: wheat;

  --icon-bg-color: transparent;
  --icon-bg-hover-color: yellow;

  --aigc-box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

  hr {
    color: #7a7a7a;
    background-color: #7a7a7a;
    opacity: 0.5;
  }
}
.sun-dark {
  --font-color: #cfd3dc;
  --font-color-active: #409eff;
  --font-color-hover: #a3a6ad;
  --font-color-0: #e5eaf3;
  --font-color-2: #a3a6ad;
  --font-color-3: #8d9095;
  --font-color-4: #6c6e72;

  --border-color: #4c4d4f;
  --border-color-hover: #636466;
  --border-color-active: #363637;
  --border-color-0: #636466;
  --border-color-1: #58585b;
  --border-color-2: #414243;
  --border-color-3: #363637;
  --border-color-4: #2b2b2c;

  --fill-color: #2a598a;
  --fill-color-0: #18222c;
  --fill-color-1: #1d3043;
  --fill-color-2: #213d5b;
  --fill-color-3: #2a598a;
  --fill-color-4: #3375b9;
  --fill-color-5: #66b1ff;
  --fill-color-6: #409eff;

  --bg-color: #141414;
  --bg-color-0: #0a0a0a;
  --bg-color-1: #141414;
  --bg-color-2: #1d1e1f;

  --icon-bg-color: white;
  --icon-bg-hover-color: yellow;

  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  --aigc-box-shadow: inset -2px 0 2px 0 rgba(0, 0, 0, 0.05);
  hr {
    color: #7a7a7a;
    background-color: #7a7a7a;
  }
}

/* 设置滚动条的宽度和高度 */
::-webkit-scrollbar {
  width: 0.8rem;
  /* 纵向滚动条宽度 */
  height: 0.8rem;
  /* 横向滚动条高度 */
}

/* 设置滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 设置滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(0, 0, 0, 0.24);
  }
}
