:root {
  font-family: Monda, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  margin: 0;
}

// 设置根元素的font-size，1rem = 10px
html {
  font-size: 10px;
}

#app {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
}

// 定义主题颜色

.sun-light {
  --background-color: #fff;
  --font-color: #000;
  --font-active-color: #3273dc;
  --main-content-bg-color: rgb(154, 154, 26);
  --blog-card-bg-color: rgb(217, 225, 112);
  --blog-card-font-color: #4a4a4a;
  --blog-card-tag-color: #7a7a7a;
  --blog-card-border-color: white;
  --btn-bg-color: wheat;

  //图标属性
  --icon-bg-color: transparent;
  --icon-bg-hover-color: yellow;

  //目录树
  --catalog-item-bg-color: transparent;
  --catalog-item-hover-bg-color: #7a7a7a;
  --catalog-item-active-bg-color: #fc0707;
  --catalog-item-hover-color: white;
  --catalog-item-active-color: yellow;

  // 底部
  --footer-bg-color: white;

  hr {
    color: #7a7a7a;
    background-color: #7a7a7a;
    opacity: 0.5;
  }
}
.sun-dark {
  --background-color: rgb(25, 25, 25);
  --font-color: #fff;
  --font-active-color: #3273dc;
  --main-content-bg-color: yellow;
  --blog-card-bg-color: rgba(21, 19, 19, 0.678);
  --blog-card-font-color: silver;
  --blog-card-tag-color: #7a7a7a;
  --blog-card-border-color: white;
  --btn-bg-color: wheat;

  //图标属性
  --icon-bg-color: white;
  --icon-bg-hover-color: yellow;
  //目录树
  --catalog-item-bg-color: transparent;
  --catalog-item-hover-bg-color: #7a7a7a;
  --catalog-item-active-bg-color: #fc0707;
  --catalog-item-hover-color: white;
  --catalog-item-active-color: yellow;
  // 底部
  --footer-bg-color: rgba(21, 19, 19, 0.678);
  hr {
    color: #7a7a7a;
    background-color: #7a7a7a;
  }
}

/* 设置滚动条的宽度和高度 */
::-webkit-scrollbar {
  width: 0.8rem;
  /* 纵向滚动条宽度 */
  height: 0.8rem;
  /* 横向滚动条高度 */
}

/* 设置滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 设置滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(0, 0, 0, 0.24);
  }
}

// /* 设置滚动条滑块在悬停时的样式 */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
